[submodule "deepwalk"]
	path = deepwalk
	url = https://github.com/phanein/deepwalk.git
[submodule "node2vec"]
	path = node2vec
	url = https://github.com/aditya-grover/node2vec.git
[submodule "P-GNN"]
	path = P-GNN
	url = https://github.com/JiaxuanYou/P-GNN.git
